/* body {
	background-color: #fff !important;
	color: #000 !important;
}

.news, .news-summary, .news-footer, .new__title, .new__cover, .news__inner, .news__summary, .news__footer, .news-title,
 .new-inner, .news-tags, .page-header__middle, .list-item {
 	background-color: #fff !important;
	color: #000 !important;
 }

 a {
 	background-color: #fff !important;
	color: #000 !important;
 }

 a:hover {
 	text-decoration: underline !important;
} */